* {
   box-sizing: border-box;
}

.App {
   text-align: center;
   font-size: 16px;
   font-family: Roboto, sans-serif;
}

.App-header {
   background-color: #222;
   padding: 1.5em;
   color: white;
}

.App-footer {
   margin-top: 1em;
   height: 40em;
   background-color: hsla(200, 30%, 90%, 1);
}

@keyframes App-logo-spin {
   from { transform: rotate(0deg); }
   to { transform: rotate(360deg); }
}

textarea {
   outline: 0;
   box-shadow: 0;
}

.Button-reset {
   border: none;
   margin: 0;
   padding: 0;
   width: auto;
   overflow: visible;

   background: transparent;

   /* inherit font & color from ancestor */
   color: inherit;
   font: inherit;

   /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
   line-height: normal;

   /* Corrects font smoothing for webkit */
   -webkit-font-smoothing: inherit;
   -moz-osx-font-smoothing: inherit;

   /* Corrects inability to style clickable `input` types in iOS */
   -webkit-appearance: none;

   /* Use cursor of parent */
   cursor: inherit;
}

/* Remove excess padding and border in Firefox 4+ */
.Button-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}
