.Toast-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   position: fixed;
   right: 1.2em;

   font-size: 1rem;
   background: #323232;
   min-width: 12em;
   max-width: 26em;
   padding: 1.2em 1.5em;
   border-radius: 0.2em;
   box-shadow: 0 0 0.1em #aaa;
   color: white;
}

.Toast-container {
   top: 0;
   opacity: 0;
}

.Toast-container.show {
   transition: 0.2s all;
   top: 1.2em;
   opacity: 1;
}

.Toast-undo {
   cursor: pointer;
   margin-left: 1.4em;
   color: hsla(200, 50%, 50%, 1);
   text-transform: uppercase;
   font-weight: 500;
}
