.Toast-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   position: fixed;
   right: 1.5em;
   top: 0.5em;
   opacity: 0;

   font-size: 0.8rem;
   background: #323232;
   min-width: 15em;
   max-width: 30em;
   padding: 1.3em 1.7em;
   border-radius: 0.2em;
   box-shadow: 0 0 0.1em #aaa;
   color: white;
}

.Toast-container.show {
   transition: 0.2s all;
   top: 1.5em;
   opacity: 1;
}

.Toast-undo {
   cursor: pointer;
   margin-left: 1.5em;
   color: hsla(200, 50%, 50%, 1);
   text-transform: uppercase;
}
